*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;

}